apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    # Let's Encrypt staging server
    server: https://acme-staging-v02.api.letsencrypt.org/directory

    # Email for certificate expiry notifications
    email: contact@pcaplab.com

    # Secret to store ACME account private key
    privateKeySecretRef:
      name: letsencrypt-staging-account-key

    # ACME HTTP-01 challenge solver
    solvers:
    - http01:
        ingress:
          class: nginx
